.block {
  width: 100%;
  height: 632px;
  padding: 200px;
  display: flex;
  align-items: center;
}

.img-1 {
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.72) 30.78%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("../images/block-img-1.png");
  /* mix-blend-mode: normal; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.img-2 {
  background-image: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0.72) 30.78%,
      rgba(255, 255, 255, 0) 56.93%
    ),
    url("../images/block-img-2.png");
  mix-blend-mode: normal;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.img-3 {
  background-image: url("../images/block-img-3.png");
  mix-blend-mode: normal;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.block-content-container {
  width: 506px;
}

.block-content-container-2 {
  margin-left: auto;
  text-align: right;
}

.block-secondary-header {
  font-weight: 800;
  font-size: 64px;
  line-height: 78px;
  color: #072d49;
  margin-bottom: 16px;
}

.block-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: #086ea8;
}

/* MEDIA QUERIES */

@media (max-width: 1440px) {
  .img-1 .img-2 .img-3 {
    background-size: auto;
  }
}

@media (max-width: 1150px) {
  .block {
    padding: 100px;
  }

  .img-1 .img-2 .img-3 {
    background-size: auto;
  }
}

@media (max-width: 920px) {
  .img-1 .img-2 .img-3 {
    background-position: right;
  }

  .block {
    padding: 48px;
  }
}

@media (max-width: 816px) {
  .block {
    height: 600px;
    padding: 16px;
  }

  .img-1 {
    background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.88) 40.18%,
        rgba(255, 255, 255, 0) 81.75%
      ),
      url("../images/block-img-1.png");
    background-size: 900px 600px;
  }

  .img-2 {
    background-image: linear-gradient(
        270deg,
        rgba(255, 255, 255, 0.88) 30.57%,
        rgba(255, 255, 255, 0) 60.34%
      ),
      url("../images/block-img-2.png");
    background-size: 900px 600px;
  }

  .img-3 {
    background-image: linear-gradient(
        270deg,
        rgba(255, 255, 255, 0) 34.09%,
        rgba(255, 255, 255, 0.88) 60.84%
      ),
      url("../images/block-img-3.png");
    background-size: 900px 600px;
  }

  .block-content-container {
    width: 228px;
  }

  .block-secondary-header {
    font-size: 40px;
    line-height: 49px;
  }

  .block-text {
    font-size: 18px;
    line-height: 28px;
  }
}

@media (max-width: 576px) {
  .block {
    height: 426px;
  }

  .img-1 {
    background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.88) 40.18%,
        rgba(255, 255, 255, 0) 81.75%
      ),
      url("../images/block-img-1.png");
    background-size: 682px 432px;
  }

  .img-2 {
    background-image: linear-gradient(
        270deg,
        rgba(255, 255, 255, 0.88) 30.57%,
        rgba(255, 255, 255, 0) 60.34%
      ),
      url("../images/block-img-2.png");
    background-size: 682px 432px;
  }

  .img-3 {
    background-image: linear-gradient(
        270deg,
        rgba(255, 255, 255, 0) 34.09%,
        rgba(255, 255, 255, 0.88) 60.84%
      ),
      url("../images/block-img-3.png");
    background-size: 682px 432px;
  }
}
