.comments {
  padding: 136px 16px 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
}

.comments-box {
  max-width: 825px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.single-comment {
  display: flex;
  gap: 32px;
  padding: 40px 32px 32px;
  position: relative;
  border-bottom: 4px solid #10b0e7;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.top-container {
  display: flex;
  margin-bottom: 16px;
}

.name-email-container {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.comment-img {
  height: 88px;
  width: 88px;
  border-radius: 50%;
  justify-self: center;
}

.comment-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #072d49;
  margin-right: auto;
}

.comment-email {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #99a8b4;
}

.comment-content {
  font-size: 14px;
  line-height: 20px;
  color: #072d49;
}

.comment-date {
  font-size: 14px;
  line-height: 17px;
  color: #99a8b4;
  justify-self: end;
}

.show-more-comments {
  background: #e76a10;
  box-shadow: 0px 4px 8px rgba(101, 119, 133, 0.24);
  border-radius: 4px;
  padding: 16px 40px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #f9f9f9;
  border: none;
  align-self: flex-end;
  cursor: pointer;
  transition: all 0.3s;
}

.show-more-comments:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)),
    #e74710;
}

.no-more-comments {
  font-size: 20px;
  line-height: 24px;
  color: #657785;
  align-self: flex-end;
  display: none;
}

/* MEDIA QUERIES */

@media (max-width: 675px) {
  .comments {
    padding: 80px 8px;
  }

  .comments-box {
    gap: 32px;
    padding: 0;
  }

  .single-comment {
    display: flex;
    gap: 8px;
    padding: 40px 8px 24px;
  }

  .top-container {
    gap: 8px;
  }

  .comment-img {
    height: 40px;
    width: 40px;
  }

  .comment-name {
    font-size: 16px;
    line-height: 20px;
  }

  .comment-email {
    font-size: 12px;
    line-height: 15px;
  }

  .comment-date {
    font-size: 12px;
    line-height: 15px;
    text-align: right;
  }

  .show-more-comments {
    padding: 12px 32px;
    font-size: 16px;
    line-height: 20px;
    align-self: center;
  }

  .no-more-comments {
    font-size: 16px;
    line-height: 20px;
    color: #657785;
    align-self: center;
    display: none;
  }
}
