.details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex: 1 1 0px;
  gap: 120px;
  padding: 112px 0 84px;
  background-color: #f9f9f9;
}

.cardholder-container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.credit-card-details-container {
  width: 100%;
  padding: 0px 0px 8px;
  border-bottom: 1px solid #072d49;
}

.form-header {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #072d49;
}

.credit-card-details {
  display: flex;
  padding: 0px 0px 8px;
  gap: 8px;
}

.input-fields {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  padding-left: 40px;
  gap: 8px;
  border: 1px solid #99a8b4;
  border-radius: 4px;
  font-size: 20px;
}

.input-fields-secondary {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  /* display: fautocheckboxlex; */
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  gap: 8px;
  border: 1px solid #99a8b4;
  border-radius: 4px;
  font-size: 20px;
}

.error {
  border: 1px solid #f63f34;
}

.cardholder-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.card-info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.packet-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}

.secondary-blue {
  color: #072d49;
  font-weight: 600;
  font-size: 18px;
}

.horizontal-line {
  width: 100%;
  height: 0px;
  border: 1px solid #99a8b4;
}

.horizontal-line-dark {
  width: 100%;
  height: 0px;
  border: 1px solid #657785;
}

.payment-btn {
  width: 100%;
  font-weight: 600;
  font-size: 24px;
  color: #f9f9f9;
  background: #e76a10;
  padding: 16px 40px;
  border: none;
  box-shadow: 0px 4px 8px rgba(101, 119, 133, 0.24);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.payment-btn:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)),
    #e74710;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.gap-md {
  gap: 24px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
}

.checkbox input {
  width: 18px;
  height: 18px;
}

.input-coupon-container {
  position: relative;
}

.apply-coupon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.error-message {
  font-size: 14px;
  line-height: 17px;
  color: #f63f34;
  /* opacity: 0; */
}

.name-error {
  opacity: 0;
}

.address-error {
  opacity: 0;
}

.email-error {
  opacity: 0;
}

.card-num-error {
  opacity: 0;
}

.cvc-error {
  opacity: 0;
}

.date-error {
  opacity: 0;
}

.coupon-error {
  opacity: 0;
}

.input-fields::placeholder {
  color: #99a8b4;
}

/* ICONS */

.relative {
  position: relative;
}

.icon {
  position: absolute;
  top: 40px;
  left: 12px;
  color: #657785;
}

/* MEDIA QUERIES */

@media (max-width: 1120px) {
  .details {
    gap: 48px;
  }
}

@media (max-width: 1050px) {
  .details {
    flex-direction: column-reverse;
    align-items: center;
    gap: 64px;
    padding: 72px 16px;
  }

  .form-header {
    font-size: 26px;
  }
}

@media (max-width: 700px) {
  .cardholder-container {
    max-width: 400px;
  }

  .form-header {
    font-size: 20px;
  }

  .input-fields {
    font-size: 16px;
  }

  .cardholder-info {
    font-size: 16px;
  }

  .input-fields-secondary {
    font-size: 16px;
  }

  .payment-btn {
    font-size: 16px;
  }

  .secondary-blue {
    font-size: 16px;
  }

  .card-info {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .horizontal-line {
    width: 400px;
  }
  .icon {
    position: absolute;
    top: 35px;
    left: 12px;
    color: #657785;
  }

  .apply-coupon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 432px) {
  .horizontal-line {
    width: 100%;
  }
} ;
