.header {
  height: 100vh;
  padding-top: 48px;
  background: url(/images/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
  position: relative;
}

.title {
  font-weight: 800;
  font-size: 40px;
  line-height: 49px;
  text-transform: lowercase;
  color: #072d49;
  text-align: center;
  margin-bottom: 223px;
}

.header-container {
  width: 506px;
  margin-left: 200px;
}

.header-tertiary {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: #072d49;
  margin-top: 24px;
  margin-bottom: 40px;
}

.header-btn {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #f9f9f9;
  padding: 16px 40px;
  background: #e76a10;
  box-shadow: 0px 4px 8px rgba(101, 119, 133, 0.24);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transform: all 0.3s;
}

.header-btn:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)),
    #e74710;
}

/* COUPON MODAL */

.header-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 56px 156px;
  /* max-width: 936px;
  height: 734px; */
  border-radius: 8px;
  z-index: 100;
}

.modal-img {
  width: 400px;
  height: 292px;
  margin-bottom: 40px;
}

.modal-tertiary-header {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #072d49;
  margin-bottom: 16px;
}

.modal-tertiary-header-span {
  text-transform: uppercase;
  font-weight: 800;
  color: #e76a10;
}

.modal-text {
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #657785;
  margin-bottom: 16px;
}

.input-container {
  position: relative;
}

.header-modal input {
  font-family: "Montserrat", sans-serif;
  width: 506px;
  padding: 16px 16px 16px 48px;
  border: 1px solid #99a8b4;
  border-radius: 4px;
  font-size: 18px;
  line-height: 22px;
  color: #99a8b4;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  color: #657785;
}

.modal-email-error {
  margin-bottom: 50px;
  align-self: flex-start;
  padding-left: 0;
  opacity: 0;
}

.modal-btn {
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  color: #f9f9f9;
  padding: 16px 40px;
  background: #e76a10;
  box-shadow: 0px 4px 8px rgba(101, 119, 133, 0.24);
  border-radius: 4px;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}

.modal-btn:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)),
    #e74710;
}

.modal-close {
  width: 19px;
  height: 19px;
  color: #99a8b4;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.438);
  z-index: 10;
  display: none;
}

/* SUCCESS MODAL */

.header-success-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  padding: 186px 64px 134px;
  text-align: center;
  z-index: 100;
  display: none;
}

.check-icon {
  width: 122px;
  height: 122px;
  color: #10b0e7;
  margin-bottom: 48px;
}
.tertiary-success-header {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  /* text-align: center; */
  color: #072d49;
  margin-bottom: 16px;
}

.header-success-modal p {
  font-size: 22px;
  line-height: 27px;
  /* text-align: center; */
  margin-bottom: 64px;
}
.success-btn {
  padding: 16px 40px;
  background: #e76a10;
  box-shadow: 0px 4px 8px rgba(101, 119, 133, 0.24);
  border-radius: 4px;
  border: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #f9f9f9;
  transition: all 0.3s;
}

.success-btn:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)),
    #e74710;
}

/* MEDIA QUERIES */

@media (max-width: 950px) {
  .header-modal {
    padding: 32px 40px;
  }

  .modal-img {
    width: 250px;
    height: 183px;
  }

  .modal-tertiary-header {
    font-size: 32px;
  }

  /* SUCCESS MODAL */

  .header-success-modal {
    padding: 160px 48px 116px;
  }

  .check-icon {
    width: 90px;
    height: 90px;
  }
  .tertiary-success-header {
    font-size: 32px;
    line-height: 29px;
    margin-bottom: 8px;
  }

  .header-success-modal p {
    font-size: 18px;
    line-height: 17px;
    margin-bottom: 48px;
  }
  .success-btn {
    font-size: 18px;
  }
}

@media (max-width: 620px) {
  .header-modal {
    max-width: 320px;
    height: auto;
    border-radius: 8px;
    z-index: 100;
    padding: 56px 26px 48px;
  }

  .modal-img {
    width: 220px;
    height: 160px;
    margin-bottom: 32px;
  }

  .modal-tertiary-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 8px;
  }

  .modal-text {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 24px;
  }

  .header-modal input {
    max-width: 270px;
    padding: 12px 16px;
    font-size: 16px;
    line-height: 20px;
  }

  .modal-icon {
    display: none;
  }

  .modal-email-error {
    margin-bottom: 23px;
    padding-left: 0;
    font-size: 12px;
  }

  .modal-btn {
    font-size: 16px;
    line-height: 20px;
    padding: 12px 40px;
  }

  /* SUCCESS MODAL */

  .header-success-modal {
    padding: 96px 50px 56px;
  }

  .check-icon {
    width: 56px;
    height: 56px;
  }
  .tertiary-success-header {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 8px;
  }

  .header-success-modal p {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 48px;
  }
  .success-btn {
    width: 226px;
    padding: 12px 32px;
    font-size: 16px;
    line-height: 20px;
  }
}
