.active-streamers {
  background-color: #072d49;
  padding: 168px 160px 110px 112px;
}

.streamers-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.searchbox-container {
  position: relative;
  margin-bottom: 32px;
  align-self: flex-start;
}

.searchbox {
  padding: 12px 40px 12px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #10b0e7;
  font-family: inherit;
  color: #99a8b4;
}

.search-icon {
  height: 18px;
  width: 18px;
  color: #99a8b4;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-55%);
}

.streamers {
  width: 100%;
  height: 936px;
  background: rgba(5, 21, 53, 0.24);
  border-radius: 8px;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 48px;
  overflow-y: scroll;
}

.user-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.img-status-container {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  position: relative;
}

.user-img {
  width: 72px;
  height: 72px;
  /* border: 2px solid #99a8b4; */
  border-radius: 50%;
  margin-bottom: 16px;
}

.status-btn {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
}

.user-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #f9f9f9;
  margin-bottom: 2px;
}

.user-email {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #657785;
  margin-bottom: 8px;
}

.user-status {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #f9f9f9;
}

/* ::-webkit-scrollbar {
  height: 12px;
  width: 1px;
  background: #10b0e7;
}

::-webkit-scrollbar-thumb {
  background: #393812;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
} */

.streamers::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background: #e76a10;
}

/* ::-webkit-scrollbar {
  width: 25px;
  height: 100%;
}

::-webkit-scrollbar-track {
  background: #10b0e7;
}

::-webkit-scrollbar-thumb { */
/* background: #f9f9f9; */
/* border: 1px solid hsl(120 50% 50% / 1); */
/* border-radius: 100vw; */
/* } */
/* ::-webkit-scrollbar-thumb:hover {
  background: hsl(120 100% 5% / 1);
} */

/* ::-webkit-scrollbar {
} */

@media (max-width: 870px) {
  .secondary-header {
    font-size: 48px;
  }

  .active-streamers {
    background-color: #072d49;
    padding: 80px 8px 48px;
  }
}

@media (max-width: 620px) {
  .secondary-header {
    font-size: 32px;
  }

  .searchbox-container {
    margin-bottom: 0;
  }

  .searchbox {
    border-bottom: none;
  }

  .streamers {
    grid-template-columns: 1fr;
    gap: 0;
    background: inherit;
    padding: 0;
  }

  .user-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    padding: 16px 8px;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #10b0e7;
  }

  .img-status-container {
    width: 48px;
    height: 48px;
  }

  .user-img {
    width: 48px;
    height: 48px;
  }

  .status-btn {
    width: 12px;
    height: 12px;
  }

  .user-name {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #f9f9f9;
    margin-bottom: 2px;
  }

  .user-email {
    font-size: 14px;
    line-height: 17px;
  }

  .user-status {
    font-size: 14px;
    line-height: 17px;
  }
}
