* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.secondary-header {
  font-family: sans-serif;
  font-weight: 800;
  font-size: 64px;
  line-height: 78px;
  /* identical to box height */

  text-align: center;

  /* Secondary Dark Blue */

  color: #072d49;
}

.tertiary-header {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 34px;
  text-align: center;
  color: #10b0e7;
}

.paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #657785;
}

.details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex: 1 1 0px;
  gap: 120px;
  padding: 112px 0 120px;
  background-color: #f9f9f9;
}

.cardholder-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.credit-card-details-container {
  width: 100%;
  padding: 0px 0px 8px;
  /* Secondary Dark Blue */

  border-bottom: 1px solid #072d49;
}

.form-header {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  /* line-height: 39px; */
  /* identical to box height */

  /* Secondary Dark Blue */

  color: #072d49;
}

.credit-card-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px 8px;
  gap: 8px;
}

.input-fields {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  padding-left: 40px;
  gap: 8px;
  border: 1px solid #99a8b4;
  border-radius: 4px;
  font-size: 20px;
}

.error {
  border: 1px solid #f63f34;
}

.cardholder-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  font-size: 20px;
}

.card-info {
  display: flex;
  align-items: center;
  padding: 0px;
  /* gap: 24px; */
}

.packet-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 64px;
}

.uppercase {
  text-transform: uppercase;
}

.secondary-blue {
  color: #072d49;
  font-weight: 600;
  font-size: 18px;
}

.dark-grey {
  color: #657785;
}

.bold {
  font-weight: 600;
}

.horizontal-line {
  width: 100%;
  height: 0px;
  border: 1px solid #99a8b4;
}

.horizontal-line-dark {
  width: 100%;
  height: 0px;
  border: 1px solid #657785;
}

.payment-btn {
  width: 100%;
  font-weight: 600;
  font-size: 24px;
  color: #f9f9f9;
  background: #e76a10;
  padding: 16px 40px;
  border: none;
  box-shadow: 0px 4px 8px rgba(101, 119, 133, 0.24);
  border-radius: 4px;
  cursor: pointer;
}

.total {
  font-size: 24px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.full-width {
  width: 100%;
}

.width-75 {
  width: 75%;
}

.gap-md {
  gap: 24px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
}

.error-message {
  font-size: 14px;
  line-height: 17px;
  color: #f63f34;
  opacity: 0;
}

/* ICONS */
.relative {
  position: relative;
}

.icon {
  position: absolute;
  top: 40px;
  left: 12px;
  color: #657785;
}
